@import 'components/card-main.css';
@import 'components/card-sponsored.css';
@import 'components/card-activity.css';
@import 'components/header.css';
@import 'components/searchbar.css';
@import 'components/filters.css';
@import 'components/footer.css';

html {
  max-width: 1400px;
  scroll-behavior: smooth;
}

body {
  width: 1339px;
  margin: 0 auto;
}

h1, h2, h3, h4, p, a {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h1 {
  margin: 10px;
}

a {
  text-decoration: none;
}

i {
  color: #0065FC;
}

section {
  padding: 25px 0;
}

.grey-container {
  background-color: #f2f2f2;
  padding: 20px 30px;
  border-radius: 40px;
}

.sponsored {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#accomodation {
  display: flex;
  justify-content: space-between;
}

#accomodation a {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.activities-container {
  display: flex;
}
