.card-main {
  background-color: white;
  width: 30%;
  height: 200px;
  padding: 10px;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-main img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.card-main h4 {
  font-size: 16px;
}

.card-main p {
  font-size: 14px;
  font-weight: 400;
}

.card-main p, .card-main h4 {
  margin: 5px;
}
