@media (max-width: 768px) {

  .header {
    width: 100vw;
  }

.sponsored-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0;
  }

  .card-sponsored {
    width: 80%;
    margin: 10px auto;
  }

  .header-wrapper {
    flex-direction: column;
  }
}
