@media (max-width: 991px) {
  #accomodation {
    flex-wrap: wrap;
  }

  #accomodation .grey-container {
    min-width: 95%;
    margin: 25px auto;
  }

  .card-main {
    width: 30%;
  }

  .sponsored-cards-container{
    flex-direction: row;
  }

  .card-sponsored {
    width: 30%;
  }

  .card-sponsored h4 {
    font-size: 14px;
  }

  .filters {
    width: 100%;
  }

  .filters a {
    padding: 15px 10px;
  }

  .card-activity {
    height: 267px;

  }

  .card-activity p {
    font-size: 14px;
  }

  .card-activity img {
    height: 78%;
  }
}
